.compactItem {
	display: flex;
	flex-direction: column;
	padding: 8px 0;
	border-bottom: 1px solid #e4e1e1;
	font-size: 14px;
	color: #333;
}

.name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.size {
	color: #888;
	font-size: 13px;
	font-weight: 400;
	white-space: nowrap;
}

.quantity {
	color: #888;
}

.price {
	font-weight: 600;
	color: #111;
}
