.closeBtn {
	position: absolute;
	top: 12px;
	right: 16px;
	background: none;
	border: none;
	font-size: 28px;
	line-height: 1;
	color: #888;
	cursor: pointer;
	transition: color 0.2s ease;

	&:hover {
		color: #111;
	}
}

.title {
	text-align: left;
	margin: 0 0 26px;
	font-size: 23px;
	font-weight: 700;
	line-height: 1.3;
	color: $color-dark_gray;
}

.optionsRow {
	display: flex;
	// justify-content: space-between;
	justify-content: center;
	align-items: center;
}

// .checkboxLabel {
// 	display: flex;
// 	align-items: center;
// 	gap: 10px;
// 	font-size: 14px;
// 	font-weight: 400;
// 	line-height: 1.4;
// 	color: #000;
// 	cursor: pointer;
// 	user-select: none;
// }

// Скрываем нативный инпут, сохраняя его в DOM для доступности
// .hiddenCheckbox {
// 	position: absolute;
// 	opacity: 0;
// 	width: 0;
// 	height: 0;
// 	margin: 0;
// 	pointer-events: none;

// 	// Состояние: Включено (Checked)
// 	&:checked {
// 		& + .customCheckbox {
// 			background-color: $color-blue;

// 			.checkmark {
// 				opacity: 1;
// 				transform: scale(1);
// 			}
// 		}
// 	}
// }

// Кастомный квадрат чекбокса
// .customCheckbox {
// 	flex-shrink: 0;
// 	width: 28px;
// 	height: 28px;
// 	border-radius: $border-radius;
// 	background-color: #f9f9f9;
// 	cursor: pointer;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	transition: background-color 0.18s ease;
// }

// Галочка внутри чекбокса
// .checkmark {
// 	width: 12px;
// 	height: auto;
// 	color: #ffffff;
// 	opacity: 0;
// 	transform: scale(0.6);
// 	transition:
// 		opacity 0.18s ease,
// 		transform 0.18s ease;
// }

.forgotLink {
	background: none;
	border: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	color: #676767;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: none;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-offset: 1px;
	text-underline-position: from-font;
	cursor: pointer;
	padding: 0;
	transition: color 0.18s ease;

	&:hover {
		color: $color-black;
	}
}

.Btn {
	width: 200px;
}

/* Ссылка переворота формы внизу */
.toggleText {
	text-align: center;
	margin-top: auto;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	color: #000;

	button {
		background: none;
		border: none;
		color: #676767;
		cursor: pointer;
		text-decoration: underline;
		text-decoration-style: solid;
		text-decoration-skip-ink: none;
		text-decoration-thickness: auto;
		text-underline-offset: auto;
		text-underline-offset: 1px;
		text-underline-position: from-font;
		padding: 0;
		transition: color 0.18s ease;

		&:hover {
			color: $color-black;
		}
	}
}
