.formTitle {
	font-size: 23px;
	margin-bottom: 35px;
	font-weight: 700;
	color: $color-dark_gray;
}

.changeForm {
	max-width: 430px;
}

.grid {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.submitBtnWrapper {
	display: flex;
	justify-content: flex-start;
}
