.headerWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: $max-screen;
	background-color: $color-black;
	color: #ffffff;
	z-index: 100;
	transition: transform 0.3s ease-in-out;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	container-type: inline-size;
}

.headerHidden {
	transform: translateY(-100%);
}

.headerContainer {
	max-width: $container-desktop-width;
	margin: 0 auto;
	padding: 0 $container-padding-x;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logoArea {
	display: flex;
	align-items: center;
	// Если по макету дизайнером заложена определенная ширина под область логотипа,
	// можно зафиксировать её здесь, например: flex-shrink: 0;
	flex-shrink: 0;
}

.navAreaError {
	display: flex;
	align-items: center;
	gap: 12px;
	height: 40px; // Та же высота, что и у меню!
}

.errorText {
	font-size: 14px;
	color: #ef4444; // Мягкий красный цвет ошибки
}

// .retryButton {
// 	background-color: black;
// 	color: #e5e7eb;
// 	border: 1px solid #e5e7eb;
// 	padding: 4px 12px;
// 	border-radius: 6px;
// 	font-size: 13px;
// 	cursor: pointer;
// 	transition: all 0.2s;

// 	&:hover {
// 		background-color: #f9fafb;
// 		color: black;
// 	}
// }
