@use '@/assets/styles/mixins';

.pageWrapper {
	padding: 16px 0 80px;
	container-type: inline-size;
}

.header {
	margin-bottom: 24px;
}

.title {
	font-size: 31px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.3;
	color: $color-black;
}

.count {
	font-size: 13px;
	color: $color-light_gray;
	font-weight: 600;
	line-height: 1.4;
}

/* --- ПУСТАЯ СТРАНИЦА --- */

.emptyContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 60px;
	text-align: center;

	.title {
		font-size: 23px;
		font-weight: 800;
		line-height: 1.5;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $color-dark_gray;
		margin-block: 20px 6px;
	}

	.description {
		font-size: 16px;
		line-height: 1.7;
		color: #666;
	}

	.icon {
		circle {
			fill: #49d0ff;
		}
	}
}

/* --- СКЕЛЕТОНЫ --- */

.breadcrumbsSkeleton {
	@include skeleton-shimmer-light;
	height: 18px;
	width: 300px;
	margin-bottom: 50px;
}

.titleSkeleton {
	@include skeleton-shimmer-light;
	height: 38px;
	width: 250px;
}

.countSkeleton {
	@include skeleton-shimmer-light;
	height: 16px;
	width: 100px;
	margin-top: 8px;
}
