.navArea {
	display: flex;
	align-items: center;
}

// Стили для скелетона
.skeletonList {
	display: flex;
	gap: 32px;
	margin: 0 28px 0 40px;
}

.skeletonItem {
	width: 110px;
	height: 20px;
	background-color: #5a5b5c;
	border-radius: 3px;
	animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
	0% {
		opacity: 0.6;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.6;
	}
}
