.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - $header-height);
}

.title {
	text-align: center;
	margin: 0;
	font-size: 23px;
	font-weight: 700;
	line-height: 1.3;
	color: $color-dark_gray;
}

.description {
	font-size: 14px;
	color: #666;
	margin-block: 10px 30px;
	line-height: 1.4;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
	max-width: 480px;
	padding: 40px;
	border-radius: $border-radius;
	border: 1px solid #eee;

	:global(.submitBtnWrapper) {
		margin-bottom: 0;
	}
}

.Btn {
	width: 100%;
}
