.grid {
	display: grid;
	grid-template-columns: repeat(4, 23.5294cqw);
	row-gap: 40px;
	column-gap: 20px;
	justify-content: space-between;

	@media (max-width: 1200px) {
		grid-template-columns: repeat(3, 23.5294cqw);
	}

	@media (max-width: 768px) {
		grid-template-columns: repeat(2, 23.5294cqw);
		gap: 16px;
	}

	@media (max-width: 480px) {
		grid-template-columns: 1fr;
	}
}
