.topFormWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 30px;
}

.toggleGroup {
	display: flex;
	background: #f5f5f5;
	border-radius: $border-radius;
	padding: 6px;
	flex: 1;
}

.selectCity {
	width: 40%;
}

.toggleBtn {
	flex: 1;
	padding: 12px;
	border: none;
	background: transparent;
	border-radius: $border-radius;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	color: #666;
	transition: all 0.2s;

	&.active {
		background: #111;
		color: #fff;
		cursor: default;
	}
}

.section {
	margin-bottom: 30px;
}

.sectionTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 16px;
	color: #111;
}

.addAddressBtn,
.cancelAddBtn {
	background: none;
	border: none;
	color: #555;
	font-weight: 600;
	font-size: 14px;
	padding: 8px 0;
	margin-top: 10px;
	cursor: pointer;
	text-align: center;

	&:hover {
		color: #111;
	}
}

/* Стили полей ввода */
.fieldGroup {
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin-bottom: 16px;
}

.label {
	font-size: 14px;
	font-weight: 500;
	color: #333;
}

.input,
.select {
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 14px;
	outline: none;

	&:focus {
		border-color: #111;
	}
}

.errorText {
	color: #e53935;
	font-size: 12px;
}

.emptyText {
	color: #888;
	font-size: 14px;
	padding: 12px 0;
}

.addressSelectorGroup,
.pickupSelectorGroup {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.newAddressWrapper {
	display: flex;
	flex-direction: column;
}

.warningBox {
	padding: 12px 16px;
	margin-bottom: 16px;
	background-color: #fff3cd;
	border: 1px solid #ffeeba;
	border-radius: 8px;
	color: #856404;
	font-size: 14px;
}

.paymentSection {
	.sectionTitle {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 12px;
	}

	.paymentOptions {
		display: flex;
		gap: 30px;
		justify-content: space-between;
	}

	.paymentCard {
		display: flex;
		align-items: center;
		gap: 12px;
		padding: 14px 16px;
		border: 1px solid #e2e8f0;
		border-radius: $border-radius;
		cursor: pointer;
		transition: all 0.2s ease;
		flex: 1;

		&:hover {
			border-color: #a8c9d4;
		}

		&.activePayment {
			border-color: #b2b2b2;
			background-color: #f8fafc;
		}

		input[type='radio'] {
			accent-color: $color-black;
			width: 18px;
			height: 18px;
		}

		.paymentMeta {
			display: flex;
			flex-direction: column;

			.paymentTitle {
				font-weight: 500;
				font-size: 14px;
			}

			.paymentSub {
				font-size: 12px;
				color: #64748b;
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
