.breadcrumbs {
	margin-bottom: 30px;
}

.list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 12px;
}

.crumbWrapper {
	display: flex;
	align-items: center;
	gap: 12px;
}

.item,
.separator {
	font-size: 13px;
	color: #8c8f96;
}

.link {
	color: #8c8f96;
	text-decoration: none;
	transition: color 0.2s ease;

	&:hover {
		color: #121214;
	}
}

.text {
	color: #121214; // Текущая или некликабельная категория выделяется темным
	font-weight: 500;
}
