/* 1. СТИЛИЗАЦИЯ КАРТОЧКИ ВАРИАНТА */
/* Нацеливаемся на каждый конкретный вариант (цвет) */
#variants-group > .djn-fieldset > details > .items > .djn-item {
	border: 2px solid #417690 !important;
	border-radius: 8px !important;
	margin-bottom: 15px !important;
	background: #ffffff !important;
	display: block !important; /* Убеждаемся, что блок виден */
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1) !important;
	padding: 10px 10px 20px !important;
}

/* 2. ЗАГОЛОВОК ИНЛАЙНА */
#variants-group > .djn-fieldset > details > summary > h2 {
	/* background: #417690 !important;
	color: #ffffff !important; */
	font-size: 1.1em;
	padding: 0px 8px !important;
}

/* Ссылка внутри заголовка (Показать/Скрыть) */
/* #variants-group > .djn-fieldset > details > summary::marker {
	color: #ffeb3b !important;
} */

/* Плашка */
#variants-group > .djn-fieldset > details > summary {
	margin-bottom: 15px;
	border-radius: 8px !important;
}

/* 4. ЧИНИМ СКРЫТИЕ ПОЛЯ POSITION */
/* Если после удаления миксина цифры всё еще видны */
.field-position input {
	width: 30px !important;
}
/* Или вовсе скрыть колонку, если сортировка уже работает */
/* .column-position, .field-position { display: none !important; } */

/* Принудительно показываем заголовки групп и элементов */
/* .djn-group-nested h2,
.djn-group-nested h3,
.djn-inline-form-title {
	display: block !important;
	visibility: visible !important;
} */

/* Заголовок варианта */
#variants-group > .djn-fieldset > details > .items > .djn-item > h3 {
	display: block !important;
	margin-bottom: 25px;
	font-size: 1.1em;
}

#variants-group > .djn-fieldset > details > .items > .djn-item > .aligned .fieldBox {
	margin-right: 0;
}

#variants-group
	> .djn-fieldset
	> details
	> .items
	> .djn-item
	> .aligned
	.fieldBox
	.vCheckboxLabel {
	width: 150px;
	min-width: 150px;
}

.variantinline-style .form-multiline .checkbox-row {
	padding-top: 4px;
}

.variantinline-style .form-multiline .field-edit_link label {
	padding: 6px 10px 0 0;
}

.variantinline-style .form-multiline .field-edit_link p {
	padding: 4px 0;
}
