.navArea {
	display: flex;
	align-items: center;
}

.navList {
	display: flex;
	gap: 12px;
	margin: 0 28px 0 40px;
	padding: 0;
	list-style: none;
}

.navItem {
	position: relative;
	display: flex;
	align-items: center;
	height: $header-height;
	padding: 0 10px;
	cursor: default;

	&.clickable {
		cursor: pointer;
	}

	&:hover {
		.navLink {
			color: $color-blue;
		}

		/* Показываем обертку */
		.dropdownWrapper {
			opacity: 1;
			visibility: visible;
		}

		/* Анимируем выезд самого меню */
		.dropdown {
			transform: translateY(0);
		}
	}
}

.navLink {
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.5px;
	transition: color 0.2s ease;
	display: flex;
	align-items: center;
	gap: 4px;
}

/* --- ВЫПАДАЮЩЕЕ МЕНЮ С КОЛОНКАМИ --- */
.dropdownWrapper {
	position: absolute;
	top: $header-height;
	left: 50%;

	/* Магия здесь: нулевая ширина и Flex-центрирование */
	width: 0;
	display: flex;
	justify-content: center;
	z-index: 100;

	/* Скрываем меню по умолчанию */
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease;
}

.dropdown {
	display: flex;
	gap: 46px;
	transform: translateY(10px);
	transition: transform 0.2s ease;
	background-color: $color-black;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 3px;
	padding: 20px 50px 30px;
	// box-shadow: 0 6px 24px rgba(0, 0, 0, 0.3);
	box-shadow: $header-shadow;
}

.dropdownColumn {
	display: flex;
	flex-direction: column;
	width: max-content;
	min-width: 120px;
	max-width: 146px;
}

.columnTitle {
	font-weight: 700;
}

.subList {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	// gap: 4px;
}

/* --- ВАРИАНТЫ АНИМАЦИИ ПУНКТОВ МЕНЮ ПРИ НАВЕДЕНИИ (ИСКЛЮЧАЯ ПРОБЛЕМУ СУБПИКСЕЛЬНОГО РЕНДЕРИНГА) --- */

/* --- 1.ОСВЕТЛЕНИЕ ФОНА --- */

// .dropdownItem {
// 	position: relative; /* Обязательно для псевдоэлемента */
// 	display: block;
// 	color: #d4d4dd;
// 	padding: 10px 12px;
// 	border-radius: 3px;
// 	font-size: 14px;
// 	text-decoration: none;
// 	transition: color 0.2s ease;
// 	z-index: 1; /* Создаем контекст наложения */

/* Создаем фон отдельным слоем, который всегда на месте, но невидим */
// &::before {
// 	content: '';
// 	position: absolute;
// 	inset: 0; /* Растягиваем на весь элемент (top/left/right/bottom: 0) */
// 	background-color: rgba(255, 255, 255, 0.12);
// 	border-radius: 3px;
// 	opacity: 0;
// 	transition: opacity 0.2s ease;
// 	z-index: -1; /* Кладем под текст */
// }

// &:hover {
// 	color: #ffffff;

// 	&::before {
// 		opacity: 1;
// 	}
// }
// }

/* --- 2.ПОЯВЛЕНИЕ СИНЕЙ ПОЛОСКИ --- */

.dropdownItem {
	display: block;
	color: #d4d4dd;
	// padding: 12px; // для вар.1
	padding: 12px 0; // для вар.2
	font-size: 15px;
	text-decoration: none;

	/* Создаем градиент-полоску, которая рисуется просто как фон */
	background-image: linear-gradient($color-blue, $color-blue);

	/* --- Вар.1 - Появление полоски слева из центра --- */

	/* Изначально ширина 2px, а высота 0% */
	// background-size: 2px 0%;

	/* Прижимаем фон к левому краю и выравниваем по центру по вертикали */
	// background-position: left center;
	// background-repeat: no-repeat;

	/* -------------------------------------------------- */

	/* --- Вар.2 - Появление полоски снизу, слева направо --- */

	/* Изначально: ширина 0%, высота 2px (толщина линии) */
	background-size: 0% 2px;

	// background-position: left bottom; // Выравниваем слева по горизонтали и прижимаем к низу
	background-position: left calc(100% - 5px); // Выравниваем слева и поднимаем на 5px
	background-repeat: no-repeat;

	/* Анимируем цвет текста и высоту фона */
	transition:
		color 0.2s ease,
		background-size 0.2s ease;

	/* ------------------------------------------------------- */

	&:hover {
		color: #ffffff;

		/* Для вар.1 */
		// background-size: 2px 60%; // полоска плавно вырастает из центра до 60% высоты

		/* Для вар.2 */
		background-size: 40% 2px; // линия плавно растягивается на 40% ширины пункта
	}
}

.simpleList {
	width: max-content;
	min-width: 120px;
	max-width: 176px;
}
