.hintsContainer {
	position: absolute;
	bottom: 100%; /* Располагаем ровно над инпутом */
	left: 0;
	z-index: 10; /* Поверх остальных элементов */
	// width: 100%;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: $border-radius;
	padding: 12px 16px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
	margin-bottom: 30px;

	/* Скрытое состояние и анимация (выезжает снизу вверх) */
	opacity: 0;
	visibility: hidden;
	transform: translateY(10px);
	transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

	font-size: 11px;
	color: #888;

	p {
		margin: 0 0 6px 0;
		font-weight: 600;
		color: #333;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	li {
		transition: color 0.3s ease;
		display: flex;
		align-items: center;

		&::before {
			content: '• ';
			margin-right: 6px;
			font-size: 14px;
		}

		/* Состояние, когда условие выполнено */
		&.hintValid {
			color: #2e7d32;

			&::before {
				content: '✓ '; /* Меняем точку на галочку */
				font-weight: 700;
			}
		}
	}
}

.visible {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
