/**
  СКЕЛЕТОНЫ
 */

@mixin skeleton-shimmer-light {
	background: linear-gradient(90deg, #b3b3bf 25%, #bfbfcb 50%, #b3b3bf 75%);
	background-size: 200% 100%;
	animation: shimmer 1.6s infinite ease-in-out;
}

@mixin skeleton-shimmer-dark {
	background: linear-gradient(90deg, #5a5b5c 25%, #757576 50%, #5a5b5c 75%);
	background-size: 200% 100%;
	animation: shimmer 1.6s infinite ease-in-out;
}

@keyframes shimmer {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}

@mixin skeleton-pulse-light {
	background-color: #b3b3bf;
	animation: pulse 1.5s infinite ease-in-out;
}

@mixin skeleton-pulse-dark {
	background-color: #5a5b5c;
	animation: pulse 1.5s infinite ease-in-out;
}

@mixin skeleton-pulse2 {
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.05) 50%,
		rgba(255, 255, 255, 0) 100%
	);
	animation: pulse2 1.5s infinite ease-in-out;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.6;
	}
}

@keyframes pulse2 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
