$min-screen: 360px;
$max-screen: 1920px;

$container-desktop-width: 1360px;
$container-padding-x: 90px;

$header-height: 100px;
$header-shadow:
	0 1px 2px rgba(0, 0, 0, 0.2),
	0 2px 4px rgba(0, 0, 0, 0.16),
	0 4px 8px rgba(0, 0, 0, 0.12);

$border-radius: 5px;

$section-m-bottom: 86px;

$color-black: #121214;
$color-blue: #49d0ff;
$color-light_gray: #8c8f96;
$color-dark_gray: #303030;
