$min-screen: 360px;
$max-screen: 1920px;

$container-desktop-width: 1360px;
$container-padding-x: 90px;

$header-height: 100px;

$border-radius: 5px;

$color-black: #121214;
$color-blue: #49d0ff;
$color-light_gray: #8c8f96;
$color-dark_gray: #303030;
