$min-screen: 360px;
$max-screen: 1920px;

$container-desktop-width: 1360px;
$container-padding-x: 90px;

$header-height: 100px;
$header-shadow:
	0 4px 8px 0 rgba(0, 0, 0, 0.25),
	0 2px 4px 0 rgba(0, 0, 0, 0.25);

$border-radius: 5px;

$color-black: #121214;
$color-blue: #49d0ff;
$color-light_gray: #8c8f96;
$color-dark_gray: #303030;
